file-split-encryption-sftp/pipeline/Child_Pipeline2.json
{
	"name": "Child_Pipeline2",
	"properties": {
		"description": "Child pipeline to extract related files",
		"activities": [
			{
				"name": "ExtractEncryptionStatus",
				"description": "Fetch obfuscation(encryption) value from sourcecontrol table.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('Select Nvl(Text,''N'') Obfuscation_Needed, ', '''',pipeline().parameters.in_extraction_date,'''', ' extraction_date From source_Control Where Code = ''MASKING'';')",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "XX_ACCA_RTC_MKT_BI_DB",
						"type": "DatasetReference",
						"parameters": {
							"in_extraction_date": {
								"value": "@pipeline().parameters.in_extraction_date",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "SplitSourceFile1",
				"description": "Split files based on number of records in a file",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ExtractEncryptionStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('ExtractEncryptionStatus').output.firstRow.OBFUSCATION_NEEDED,'N')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "GetbatchnumberforobfuscateSplitSourceFile1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT CEIL((count(*)/',string(pipeline().parameters.no_of_records_per_file),')*1) batch_number SplitSourceFile1 WHERE trunc(EXTRACTION_DATE) = NVL(TO_DATE(','''',pipeline().parameters.in_extraction_date,'''',',','''DD-MON-YYYY''),trunc(SYSDATE));')",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "XX_ACCA_RTC_MKT_BI_DB",
									"type": "DatasetReference",
									"parameters": {
										"in_extraction_date": {
											"value": "@pipeline().parameters.in_extraction_date",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "GetbatchsizeforobfuscateSplitSourceFile1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "GetbatchnumberforobfuscateSplitSourceFile1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('select num batch_number, min(ID) min_number, max(ID) max_number From (select P.ID, ntile(',activity('GetbatchnumberforobfuscateSplitSourceFile1').output.firstRow.batch_number,') over (order by NULL) as num from (SELECT * FROM SplitSourceFile1 WHERE trunc(EXTRACTION_DATE) = NVL(TO_DATE(','''',pipeline().parameters.in_extraction_date,'''',',','''DD-MON-YYYY''),trunc(SYSDATE)) ORDER by ID ASC) P ) Group By Num Order By Num;')",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "XX_ACCA_RTC_MKT_BI_DB",
									"type": "DatasetReference",
									"parameters": {
										"in_extraction_date": {
											"value": "@pipeline().parameters.in_extraction_date",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "SetbatchsizeforobfuscateSplitSourceFile1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetbatchsizeforobfuscateSplitSourceFile1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SplitSourceFile1",
								"value": {
									"value": "@activity('GetbatchsizeforobfuscateSplitSourceFile1').output.value",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "GetbatchnumberforSplitSourceFile1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT CEIL((count(*)/',string(pipeline().parameters.no_of_records_per_file),')*1) batch_number FROM SplitSourceFile1 WHERE trunc(EXTRACTION_DATE) = NVL(TO_DATE(','''',pipeline().parameters.in_extraction_date,'''',',','''DD-MON-YYYY''),trunc(SYSDATE));')",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "XX_ACCA_RTC_MKT_BI_DB",
									"type": "DatasetReference",
									"parameters": {
										"in_extraction_date": {
											"value": "@pipeline().parameters.in_extraction_date",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "GetbatchsizeforSplitSourceFile1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "GetbatchnumberforSplitSourceFile1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('select num batch_number, min(ID) min_number, max(D) max_number From (select P.ID, ntile(',activity('GetbatchnumberforSplitSourceFile1').output.firstRow.batch_number,') over (order by NULL) as num from (SELECT * FROM SplitSourceFile1 WHERE trunc(EXTRACTION_DATE) = NVL(TO_DATE(','''',pipeline().parameters.in_extraction_date,'''',',','''DD-MON-YYYY''),trunc(SYSDATE)) ORDER by ID ASC) P ) Group By Num Order By Num;')",
										"type": "Expression"
									},
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "XX_ACCA_RTC_MKT_BI_DB",
									"type": "DatasetReference",
									"parameters": {
										"in_extraction_date": {
											"value": "@pipeline().parameters.in_extraction_date",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "SetbatchsizeforSplitSourceFile1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "GetbatchsizeforSplitSourceFile1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "SplitSourceFile1",
								"value": {
									"value": "@activity('GetbatchsizeforSplitSourceFile1').output.value",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "ForEachSplitSourceFile1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SplitSourceFile1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('SplitSourceFile1')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CreateSplitSourceFile1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('ExtractEncryptionStatus').output.firstRow.OBFUSCATION_NEEDED,'N')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "ExtractObfuscatedSplitSourceFile1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@concat('Select * From SplitSourceFile1 P Where Trunc(P.extraction_date) = NVL(TO_DATE(','''',pipeline().parameters.in_extraction_date,'''',',','''DD-MON-YYYY''),trunc(SYSDATE)) AND ID BETWEEN','''',item().MIN_NUMBER,'''',' and ','''',item().MAX_NUMBER,'''',';')",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureDataLakeStoreWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "XX_ACCA_RTC_MKT_BI_DB",
												"type": "DatasetReference",
												"parameters": {
													"in_extraction_date": {
														"value": "@pipeline().parameters.in_extraction_date",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "XX_ACCA_RTC_Marketing_MFT_Landing_Zones",
												"type": "DatasetReference",
												"parameters": {
													"folder_name": {
														"value": "/Out_Zone/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/@{formatDateTime(utcnow(),'dd')}/SplitSourceFile1",
														"type": "Expression"
													},
													"file_name": {
														"value": "@concat('SplitSourceFile1-DATE-',formatDateTime(utcnow(),'yyyy'),'-',formatDateTime(utcnow(),'MM'),'-',formatDateTime(utcnow(),'dd'),'-',item().BATCH_NUMBER,'.csv')",
														"type": "Expression"
													}
												}
											}
										]
									}
								],
								"ifTrueActivities": [
									{
										"name": "ExtractSplitSourceFile1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "OracleSource",
												"oracleReaderQuery": {
													"value": "@concat('Select * From SplitSourceFile1 P Where Trunc(P.extraction_date) = NVL(TO_DATE(','''',pipeline().parameters.in_extraction_date,'''',',','''DD-MON-YYYY''),trunc(SYSDATE)) AND ID BETWEEN','''',item().MIN_NUMBER,'''',' and ','''',item().MAX_NUMBER,'''',';')",
													"type": "Expression"
												},
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureDataLakeStoreWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ""
												}
											},
											"enableStaging": false
										},
										"inputs": [
											{
												"referenceName": "XX_ACCA_RTC_MKT_BI_DB",
												"type": "DatasetReference",
												"parameters": {
													"in_extraction_date": {
														"value": "@pipeline().parameters.in_extraction_date",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "XX_ACCA_RTC_Marketing_MFT_Landing_Zones",
												"type": "DatasetReference",
												"parameters": {
													"folder_name": {
														"value": "/Out_Zone/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/@{formatDateTime(utcnow(),'dd')}/SplitSourceFile1",
														"type": "Expression"
													},
													"file_name": {
														"value": "@concat('SplitSourceFile1-DATE-',formatDateTime(utcnow(),'yyyy'),'-',formatDateTime(utcnow(),'MM'),'-',formatDateTime(utcnow(),'dd'),'-',item().BATCH_NUMBER,'.csv')",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "CheckSplitSourceFile1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "ForEachSplitSourceFile1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(variables('SplitSourceFile1'))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "MoveSplitSourceFile1FileToSFTPServer",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "LOGIC APP END POINT URL",
									"type": "Expression"
								},
								"method": "POST",
								"body": {
									"Accountname": "@pipeline().globalParameters.DATALAKESTOREGEN1",
									"Filecategory": "SplitSourceFile1",
									"Folderpath": "Out_Zone/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/@{formatDateTime(utcnow(),'dd')}/SplitSourceFile1",
									"Landingzone": "Landing_Zone/Marketing_Landing_Zone/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/@{formatDateTime(utcnow(),'dd')}/SplitSourceFile1",
									"Manifestfilename": "@concat('SplitSourceFile1-DATE-',formatDateTime(utcnow(),'yyyy'),'-',formatDateTime(utcnow(),'MM'),'-',formatDateTime(utcnow(),'dd'),'.ok')"
								}
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"parameters": {
			"in_extraction_date": {
				"type": "string"
			},
			"no_of_records_per_file": {
				"type": "int",
				"defaultValue": 15000
			}
		},
		"variables": {
			"SplitSourceFile1": {
				"type": "Array",
				"defaultValue": [
					"0"
				]
			}
		},
		"folder": {
			"name": "Marketing"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-07T20:59:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}