data-factory-pipelines-oracle-stored-pacakges-or-procedures-call/Data_Factory_Pipeline_to_Call_Oracle_Objects.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"Oracle":{"type":"string"},"ORACLE":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Execute_Oracle_Process')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Check Risk Assessmnt Outcome","description":"","type":"Until","dependsOn":[{"activity":"Call Oracle Function","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@or(equals(activity('Get Application Status').output.firstRow.STATUS,'SUCCESS'),equals(activity('Get Application Status').output.firstRow.STATUS,'FAILED'))","type":"Expression"},"activities":[{"name":"Get Application Status","description":"","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"OracleSource","oracleReaderQuery":"Select application_number, status From Risk_Assessment_Log WHERE application_number = 'APP123'","partitionOption":"None"},"dataset":{"referenceName":"ORACLE_DATASET","type":"DatasetReference","parameters":{"in_extraction_date":{"value":"@empty('')","type":"Expression"}}}}},{"name":"Check Application Status","description":"","type":"IfCondition","dependsOn":[{"activity":"Get Application Status","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"expression":{"value":"@or(equals(activity('Get Application Status').output.firstRow.STATUS,'SUCCESS'),equals(activity('Get Application Status').output.firstRow.STATUS,'FAILED'))","type":"Expression"},"ifFalseActivities":[{"name":"WaitInterval","description":"Wait interval of 30 minutes until next retry to check the application status from Risk_Assessment_Log table.","type":"Wait","dependsOn":[],"userProperties":[],"typeProperties":{"waitTimeInSeconds":900}}]}}],"timeout":"0.00:00:00"}},{"name":"Call Oracle Function","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"OracleSource","oracleReaderQuery":"SELECT XX_BANK_RISK_ASSESSMENT_CHECK(‘APP123’,’35',’100000.00',’30000.00',’FULL-TIME’) FROM DUAL;","partitionOption":"None","queryTimeout":"02:00:00"},"dataset":{"referenceName":"Oracle","type":"DatasetReference","parameters":{}}}}],"concurrency":1,"variables":{"v_environment_name":{"type":"String","defaultValue":"@pipeline().globalParameters.ENVIRONMENT"},"v_email_address":{"type":"String","defaultValue":"srinathparam@gmail.com; srinathparam@gmail.com"}},"folder":{"name":"Marketing"},"annotations":[],"lastPublishTime":"2020-09-15T09:32:15Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/Oracle')]","[concat(variables('factoryId'), '/datasets/ORACLE_DATASET')]"]},{"name":"[concat(parameters('factoryName'), '/Oracle')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('Oracle')]","type":"LinkedServiceReference"},"annotations":[],"type":"OracleTable","schema":[],"typeProperties":{}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/ORACLE_DATASET')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"description":"BI INT database connection read only","linkedServiceName":{"referenceName":"[parameters('ORACLE')]","type":"LinkedServiceReference"},"parameters":{"in_extraction_date":{"type":"string"}},"folder":{"name":"Oracle"},"annotations":[],"type":"OracleTable","schema":[],"typeProperties":{"schema":"","table":""}},"dependsOn":[]}]}